@*/*
 *Authors: Mohamad Kassem
 *Date: 09-05-2023
 *Edited by: Gabriel H. Kierkegaard, Date: 14-05-2023
 */*@
@page
@model RockExplorer.Pages.Artifacts__CRUD_.Read
@{
    ViewData["Title"] = "GetAllArtifacts";
}
<h1>GetAllArtifacts</h1>

<p>
    <a asp-page="Create">Create New Artifact</a>
</p>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                PathToAudioFile
            </th>
            <th>
                PathToImage
            </th>
            <th>
                YearOfCreation
            </th>
            <th>
                Artist
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artifacts)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.PathToAudioFile
                </td>
                <td>
                    @item.Value.PathToImage
                </td>
                <td>
                    @item.Value.YearOfCreation
                </td>
                <td>
                    @item.Value.Artist
                </td>
                <td>
                    <img src="~/Images/@item.Value.PathToImage" width="60" height="70">
                </td>
                <td>
                    <p>
                        <a asp-page="Update" asp-route-id="@item.Key">Edit</a> |
                        <a asp-page="DeleteArtifact" asp-route-id="@item.Key">Delete</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>

</table>
