@*
    Author: Gabriel H. Kierkegaard, Date: 13-05-2023
*@

@page
@model RockExplorer.Pages.Shared.ArtifactsModel
@{
}

<h1>List of Artifacts</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Dato
            </th>
            <th>
                Kunstner
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artifacts)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.YearOfCreation
                </td>
                <td>
                    @item.Value.Artist
                </td>
            </tr>
        }
    </tbody>
</table>